.cssFix {
    padding: 35px;
}

.admin-select-option {
    display: block;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}


.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
  }
  